<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>

    <link href="style/common.css" type="text/css" rel="stylesheet">
    <link href="style/signin.css" type="text/css" rel="stylesheet">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<header>
    <h1>登录</h1>
</header>
<form id="app">
    <p v-if="info" class="info">{{info}}</p>
    <p>
        <label for="ui">账号：</label>
        <input type="text" id="ui" v-model="id" :disabled="disabled">
    </p>
    <p>
        <label for="p">密码：</label>
        <input type="password" id="p" v-model="pwd" :disabled="disabled">
    </p>
    <button type="button" @click="onSignInButtonClick" :disabled="disabled">登陆</button>
    <button type="button" onclick="window.close()" :disabled="disabled">离开</button>
</form>

<script type="text/javascript" src="script/server/req.js"></script>
<script type="text/javascript" src="script/server/user.js"></script>
<script type="text/javascript" src="script/signin.js"></script>
</body>
</html>